.banner {
  position: relative;
  background-image: url('images/glencoe.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  min-height: 100vh; 
}

.banner-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}